In [11]:
import numpy as np
import pandas as pd
import os

In [10]:
experiment_dir = 'data/equalPrecisions_N20_n1000'

In [22]:
data = []

for file in os.listdir(os.path.join(experiment_dir, 'data')):
    fname = os.path.join(experiment_dir, 'data', file)

    data.append(pd.read_csv(fname))

agg_df = pd.concat(data, ignore_index=True)
agg_df.to_csv(os.path.join(experiment_dir, f'{os.path.basename(experiment_dir)}.csv'), index=False)
agg_df

,tn,fp,fn,tp,fdr,fomr,tpr,tnr,ba,f1,mcc,way,d
0,8,0,1,1,0.0,0.111111,0.500,1.0,0.7500,0.666667,0.666667,0,0.1
1,8,0,1,1,0.0,0.111111,0.500,1.0,0.7500,0.666667,0.666667,1,0.1
2,8,0,1,1,0.0,0.111111,0.500,1.0,0.7500,0.666667,0.666667,0,0.1
3,8,0,0,2,0.0,0.000000,1.000,1.0,1.0000,1.000000,1.000000,1,0.1
4,8,0,1,1,0.0,0.111111,0.500,1.0,0.7500,0.666667,0.666667,0,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2,0,4,4,0.0,0.666667,0.500,1.0,0.7500,0.666667,0.408248,1,0.9
496,2,0,4,4,0.0,0.666667,0.500,1.0,0.7500,0.666667,0.408248,0,0.9
497,2,0,3,5,0.0,0.600000,0.625,1.0,0.8125,0.769231,0.500000,1,0.9
498,2,0,4,4,0.0,0.666667,0.500,1.0,0.7500,0.666667,0.408248,0,0.9
499,2,0,4,4,0.0,0.666667,0.500,1.0,0.7500,0.666667,0.408248,1,0.9